@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Sign up and borrow movies with my awesome code.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Figure out a way to use this to sign up now! 
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/getting-started">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more movies</h2>
        <p>If you like movies, this is where you can get more of them!</p>
        <p><a class="btn btn-default" href="https://www.rottentomatoes.com/">RT &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Easy Returns</h2>
        <p>If you can even borrow them in the first place!</p>
        <p><a class="btn btn-default" href="https://techcrunch.com/2017/12/13/redbox-on-demand/">Clicketydoo &raquo;</a></p>
    </div>
</div>